*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section{
    height: 100vh;
    background: #000;
}
h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 2.5em;
    letter-spacing: 0.2em;
    margin-left: 50%;
}
h1 span{
    opacity: 1;
    display: inline-block;
    animation: animate 1s linear forwards;

}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);

    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);

    }
    
}


canvas {
    z-index: -1;
    height:14   0%;
    position:absolute;
    width:100%;
}
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    background: black;
}
.loader
{   
    left: 40%;
    margin-top: 600px;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    animation: animate 0.5s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.loader span
{
    position: absolute;
    width: 100%;

    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
}
.loader span:nth-child(1)
{
    filter: blur(5px);
}
.loader span:nth-child(2)
{
    filter: blur(10px);
}
.loader span:nth-child(3)
{
    filter: blur(25px);
}
.loader span:nth-child(4)
{
    filter: blur(50px);
}
.loader:after
{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
     background: #240229;
    border-radius: 50%;
}
a{
    position: absolute;
    top: 100%;
    left: 45%;
    transform: translate(-45%,250%);
    color: #1670f0;
    padding: 30px 60px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
a:before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05)   
}
a span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,#0c002b,#1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(50%);
    }
}
a span:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom,#0c002b,#1779ff);
    animation: animate2 2s linear infinite;
}
@keyframes animate2
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(50%);
    }
}
a 
a span:nth-child(3)
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left,#0c002b,#1779ff);
}

a span:nth-child(4)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top,#0c002b,#1779ff);
}
