*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landscape{
    display:none;
}
#main{
    height: 100vw;
    width: 100%;
    background-color: black;
}
@media screen and (max-width: 480px){
    #main{
        display:none;
    }
    #landscape{
        display: block;
        background-color: white;
    }
    
}